<div class="modal fade" id="realModal" tabindex="-1" role="dialog" aria-labelledby="realModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @real, remote: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title"><%= "#{params[:action].camelize}" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @real.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@real.errors.count, "error") %> prohibited this real from being saved:</h2>
              <ul>
                <% @real.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.collection_check_boxes :habit_ids, current_user.habits, :id, :name do |b| %>
              <%= b.label(class: "form-check") do %>
                <%= b.check_box(class: "form-check-input") %>
                <div class="btn btn-secondary" >
                  <%= b.text %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="field">
            <%= form.label :time %>
            <%= form.number_field :time %>
            <%= form.label :date %>
            <%= form.date_field :date, value: Time.now.strftime("%Y-%m-%d") %>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>