<div class="modal fade" id="realModal" tabindex="-1" role="dialog" aria-labelledby="realModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: real, remote: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title">実績</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if real.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(real.errors.count, "error") %> prohibited this real from being saved:</h2>
              <ul>
                <% real.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :habit_id %>
            <%= form.collection_select :habit_id, current_user.habits.all.order("name"), :id, :name %>
          </div>
          <div class="field">
            <%= form.label :time %>
            <%= form.number_field :time %>
            <% if real.start_time == nil %>
              <%= form.label :start_time %>
              <%= form.date_field :start_time, value: date.strftime("%Y-%m-%d") %>
            <% else %>
              <%= form.label :start_time %>
              <%= form.date_field :start_time, value: real.start_time.strftime("%Y-%m-%d") %>
            <% end %>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
          <% if real.id != nil %>
            <%= link_to "削除", real, method: :delete, class: "dropdown-item text-danger", remote: true, data: { confirm: '本当に削除しますか？' } %>
          <% else %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>