<div class="real_<%= real.position %>" data-id="<%= real.id %>">
  <%= link_to edit_real_path(real), remote: true do %>
    <% if real.habit.target <= real.time %>
      <div class="cal-border" style="width: 100%; border-color:<%= real.habit.color %>;"></div>
    <% else %>
      <div class="cal-border" style="width: <%= real.time * 100 / real.habit.target %>%; border-color:<%= real.habit.color %>;"></div>
    <% end %>
  <% end %>
  <% sortcheck(real.position, real.start_time) %>
  <% if real.position != @lposi %>
    <%= link_to '▲', move_real_path(id: real), remote: true, class: "up" %>
  <% else %>
    </br>  
  <% end %>
</div>
