<p id="notice"><%= notice %></p>

<div class="calendar-posi">
  <%= month_calendar events: @reals do |date, reals| %>
    <%= form_with(url: new_real_path, method: :get, remote: true) do |form| %>
      <%= form.submit date.day, class: "btn blue" %>
      <%= form.hidden_field :date, :value => date %>
    <% end %>
    <div id="realsIndex_<%= date %>">
      <% reals.each do |real| %>
        <% sortcheck(real.position) %>
        <%= render partial: 'reals/real', locals: {real: real, b_real: @b_real} %>
      <% end %>
    </div>
  <% end %>
</div>
