<p id="notice"><%= notice %></p>

<div class="calendar-posi">
  <%= month_calendar events: @habits do |date, habits| %>
    <%= link_to new_calendar_path, title: "New", class: "btn blue", remote: true do %>
      <%= date.day %>
    <% end %>
    <div id="calendarsIndex">
      <%= render "calendars/calendar" %>
    </div>
  <% end %>
</div>


