<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <div class="top_image">
    </div>
    <div style="text-align:center">
      <h3>紹介動画</h3>
      <% iframe = content_tag(:iframe, '', width: 560, height: 315,
      src: "https://www.youtube.com/embed/jYWQS1IogNo",
      frameborder: 0,
      allowfullscreen: true
      ) %>
      <%= content_tag(:div, iframe, class: 'youtube-container') %>
    </div>
  </body>
</html>